@import url('https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.main{
    width: 100%;
    height: 100vh;
    background-color: #edc948;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blog {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blog-container {
    width: 400px;
    height: 580px;
    padding: 20px;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: 2px solid rgba(0, 0, 0, .7);
    box-shadow: 12px 12px 0px black;
}

.blog-box {
    display: block;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.image-section {
    margin: 15px;
    width: 340px;
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('..\Challenge2\blog-preview-card-main\assets\images\illustration-article.svg');
    background-size: cover;
    border-radius: 10px;
}


.content-section {
    width: 370px;
    padding: 10px 10px 0px 10px;
    display: block;
    align-items: center;
    justify-content: center;
}

.section {
    padding: 8px 0px;
}

.line {
    line-height: 27px;
}

.logo {
    width: 100px;
    padding: 8px 15px;
    background-color: #edc948;
    border-radius: 5px;
}

.adjust {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

.section > img {
    width: 50px;
}

.adjust span {
    font-weight: bolder;
}
